<!DOCTYPE html>
<html>
<head>
    <title>Adcione um livro</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <div class="container">
        <h1>Adcione um livro</h1>
        <form method="post">
            <label for="title">Titulo:</label>
            <input type="text" id="title" name="title">
            <label for="author">Autor:</label>
            <input type="text" id="author" name="author">
            <input type="submit" value="Add Book">
        </form>
    </div>
</body>
</html>
