* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
:root {
    font-size: 62.5%;
}

body {
    text-align: center;
    background: #785151;
    animation: fadeInUp 0.5s ease-in-out;
}
  
header {
    margin-top: 3rem;
    height: 8rem;
    background: #D9D9D9;
    animation: fadeInUp 0.5s ease-in-out 0.25s;
    animation-fill-mode: both;
}
  
header h1 { 
    padding: 1rem;
    text-align: center;
    color: #785151;
    font-family: Italiana, sans-serif;
    font-size: 48px;
    font-weight: 400;
}

main {
    align-items: center;
    margin-top: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    animation: fadeInUp 0.5s ease-in-out 0.5s;
    animation-fill-mode: both;
}

.content p {
    color: #FFF;
    font-family: Mulish, sans-serif;
    font-size: 2.4rem;
    margin-bottom: 2rem;
}

button {
    border: none;
    border-radius: 10px;
    background: #D9D9D9;
    color: #785151;
    font-family: 'Mulish', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    width: 20rem;
    height: 4.3rem;
    padding: 10px;
    cursor: pointer;
    animation: fadeInUp 0.5s ease-in-out 0.75s;
    animation-fill-mode: both;
}
  
button:hover {
    background: #a3a3a3;
}

footer {
    text-align: center;
    background: #D9D9D9;
    padding: 10px;
    width: 100%;
    bottom: 0;
    position: fixed;
    animation: fadeInUp 0.5s ease-in-out 1s;
    animation-fill-mode: both;
}
  
footer p {
    color: #000;
    font-family: "Mulish", sans-serif;
    font-size: 15px;
    font-weight: 400;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
