*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 62.5%;
}

body {
    text-align: center;
    /* min-height: 100vh; */
    background-image: url(/assets/librarybcg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #C09B9B;
    opacity: 0.50;
    z-index: -1;
}

header{
    margin-top: 2.5rem;
    height: 102px;
    background: #D9D9D9;
}

header h1{ 
    padding: 3rem;
    margin: auto;
    text-align: center;
    color: #785151;
    font-family: Italiana, sans-serif;
    font-size: 36px;
    font-weight: 400;
}

main{
    margin-top: 7.5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.box{
    display: flex;
    flex-direction: column;
    gap: 2.7rem;
}

.box h6 {
    width: 40rem;
    height: 2px;
    background: #FFF;
}

.box h6{
    align-self: center;
}

button {
    border: none;
    border-radius: 10px;
    background: #D9D9D9;
    color: #785151;
    font-family: 'Mulish', sans-serif;
    font-size: 2rem;
    font-weight: 400;
    width: 46rem;
    height: 5rem;
    padding: 10px;
    cursor: pointer;
}

button:hover{
    background: #a3a3a3;
}

main p {
    color: white;
    margin: 10px 0;
    font-family: 'Mulish', sans-serif;
    font-size: 15px;
}

main p a {
    text-decoration: none;
    color: black;
    font-size: 15px;
}

footer {
    text-align: center;
    background: #D9D9D9;
    padding: 10px;
    width: 100%;
    bottom: 0;
    position: fixed;
}

footer p{
    color: #000;
    font-family: "Mulish", sans-serif;
    font-size: 15px;
    font-weight: 400;
}
