<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
        <title>Nexus Library - 404</title>
        <link rel="stylesheet" type="text/css" href="/static/css/404.css">
    
        <link href="https://fonts.googleapis.com/css2?family=Italiana&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="app">
            <header>
                <h1>404 - Page not found</h1>
            </header>

            <main>
                <div class="content">
                    <p>It seems that the book you are looking for is still on loan, as we couldn't find it on the shelf!</p>
                    <a href="/login"><button>Back to home page</button></a>
                </div>
            </main> 

        </div>
        <footer>
            <p>NexusLibrary - 2024 ©</p>
        </footer>
    </body>
</html>
