<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
        <title>Nexus Library</title>
        <link rel="stylesheet" type="text/css" href="/static/css/add_book.css">
    
        <link href="https://fonts.googleapis.com/css2?family=Italiana&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="app">
            <header>
                <h1>Add book</h1>
            </header>
            <main>
                <form method="post">
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" id="title" name="title" placeholder="Book name">
                    </div>
                    <div class="form-group">
                        <label for="author">Author</label>
                        <input type="text" id="author" name="author" placeholder="Author name">
                    </div>
                    <div class="form-group1">
                        <input type="submit" value="Add">
                    </div>
                </form>
                <p><a href="./index">Cancel</a></p>
            </main>
        </div>
        <footer>
            <p>NexusLibrary - 2024 ©</p>
        </footer>
    </body>
</html>
