<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <title>Nexus Library</title>
    <link rel="stylesheet" type="text/css" href="/static/css/books_added.css">
    
    <link href="https://fonts.googleapis.com/css2?family=Italiana&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
</head>
<body>
    <div class="app">
        <header>
            <h1>View Books</h1>
        </header>
        <main>
            <div class="container">
                <h1>Books Added</h1>
                <ul class="book-list">
                    {% for book in books %}
                    <li class="book-item">
                        <div class="book-details">
                            <span class="book-title">Title - {{ book.title }}</span>
                            <span class="book-author">Author - {{ book.author }}</span>
                        </div>
                        <div class="book-actions">
                            <a href="/edit_book/{{ book.id }}" class="edit-btn">Edit</a>
                            <a href="/delete_book/{{ book.id }}" class="delete-btn">Delete</a>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                <a href="/index" class="back-btn">Home page</a>
            </div>
        </main>
    </div>
    <footer>
        <p>NexusLibrary - 2024 ©</p>
    </footer>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            document.body.classList.add("animate");
        });
    </script>
</body>
</html>
