<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
        <title>Nexus Library</title>
        <link rel="stylesheet" type="text/css" href="/static/css/indexx.css">
    
        <link href="https://fonts.googleapis.com/css2?family=Italiana&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="app">
            <header>
                <h1>Nexus Library - home</h1>
            </header>
            <main>
                <div class="box">
                    <a href="/add_book"><button>Add a book</button></a>
                    <h6></h6>
                    <a href="/books_added"><button>View added books</button></a>
                </div>
                <div class="text">
                    <p>
                        The Benefits of Reading: Enriching the Mind and Soul <br><br>
                        Reading is an ancient activity that continues to be one of the most enriching <br> experiences for the human mind and soul. Whether for pleasure, education, or <br> personal growth, reading offers a wide range of benefits that positively impact <br> various aspects of life. Here are some of the main benefits of reading: <br><br>
                        Mental Stimulation Reading keeps the brain active and engaged, helping to <br>prevent age-related cognitive decline. Studies show that keeping the brain <br>stimulated can slow the progression (or even prevent) diseases like Alzheimer's<br> and dementia. <br><br>
                        Stress Reduction Getting lost in a good book can be a great escape from daily <br>stress. Reading an engaging story can transport the reader to a different world,<br> providing temporary relief from everyday problems and reducing stress levels.</p>
                </div>
            </main>
        </div>
        <footer>
            <p>NexusLibrary - 2024 ©</p>
        </footer>
    </body>
</html>

