<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <title>Nexus Library</title>
    <link rel="stylesheet" type="text/css" href="/static/css/registerr.css">
    <link href="https://fonts.googleapis.com/css2?family=Italiana&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
</head>
<body>
    <div class="app">
        <header>
            <h1>Nexus Library</h1>
        </header>

        <div class="title-container">
            <p>Create your account</p>
            <h6></h6>
        </div>

        <main>
            <form action="/register" method="post">
                <div class="form-group">
                    <input type="text" id="username" name="username" required placeholder="Name">
                </div>
                <div class="form-group">
                    <input type="email" id="email" name="email" required placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="password" id="password" name="password" required placeholder="Password">
                </div>
                <button type="submit">Register</button>
            </form>
            <p>Already have an account? <a href="./login">Login</a>.</p>
        </main> 
    </div>
    <footer>
        <p>NexusLibrary - 2024 ©</p>
    </footer>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            document.body.classList.add("animate");
        });
    </script>
</body>
</html>
